[submodule "wp-content/plugins/tru-fetcher-plugin"]
	path = wp-content/plugins/tru-fetcher-plugin
	url = https://366484229c689b3b402c37737ef147396932eadd@github.com/truvoicer/tru-fetcher-plugin.git
	branch = master
