[submodule "wp-content/plugins/tru-fetcher-plugin"]
	path = wp-content/plugins/tru-fetcher-plugin
	url = https://github.com/truvoicer/tru-fetcher-plugin.git
	branch = master
[submodule "wp-content/plugins/trf-recruit"]
	path = wp-content/plugins/trf-recruit
	url = https://github.com/truvoicer/trf-recruit.git
	branch = main
